body {
    /*
    background-image: url('https://img.freepik.com/premium-vector/star-sky-space-stars-background-glitter-particles_160081-289.jpg?w=1380');
    */
    background-image: url('background.webp');
    color: white;
    text-shadow: 1px 1px black;
}

button {
    background-color: white;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
}

.settings {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.settings h1, .settings h3, .settings .container {
    width: 100%;
    text-align: center;
}

.settings .container {
    margin-bottom: 18px;
}

.result {
    text-align: center;
    max-width: 450px;
    margin: auto;
}
